.ant-message {
    font-size: 18px;
    line-height: 22px;
    .ant-message-notice {
        .ant-message-notice-content {
            padding: 20px;
            border-radius: 10px;
        }
    }
}