.authInput.disabled {
    pointer-events: none;
    opacity: .5;
}


.authInput {
    
    input {
        font-size: 18px;
        line-height: 22px;
        padding: 10px !important;
    }
    .ant-input-affix-wrapper.ant-input-affix-wrapper-focused {
        box-shadow: 0 0 4px rgba(#FF8B00, 1);
    }
    .ant-input-affix-wrapper {
        padding: 0;
        border: 1px solid transparent;
        background-color: #f7f7f7;
        border-radius: 4px;
        overflow: hidden;


        &:hover {
            border-color: var(--orange);
        }

        .ant-input {
            border: none !important;
            background-color: #f7f7f7;

            &:focus {
                outline: none !important;
                border: none !important;
                box-shadow: none !important;
            }
        }
        .ant-input-suffix {
            .anticon {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 10px;
            }
        }
    }

    .ant-input-textarea {
        textarea {
            border: 1px solid transparent;
            background-color: #f7f7f7;
            border-radius: 4px;
            min-height: 150px;
            font-size: 18px;
            line-height: 22px;
            padding: 10px;
            max-height: 500px;
            white-space: pre-wrap;
            &:hover {
                border-color: var(--orange);
            }

            &:focus {
                box-shadow: 0 0 4px rgba(#FF8B00, 1);
            }
        }
    }
}


.authInput > .ant-input {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f7f7f7;

    &:hover {
        border-color: var(--orange);
    }

    &:focus {
        box-shadow: 0 0 4px rgba(#FF8B00, 1);
    }
}