.authform {
    max-width: 375px;
    width: 100%;

    &__inner {

    }
    
    &__panel {
        background: #FFFFFF;
        border: 1px solid #EFEFEF;
        border-radius: 10px;
    }

    &__item {
        padding: 8px 0;

        &_in {
            padding: 40px;
        }
        
    }

    &__main {
        
        &_top {

            &_logo {
                margin-bottom: 30px;
            }
        }
        &_item {
            padding: 10px 0;

            &_ex {
                margin-top: 4px;
                font-size: 12px;
                line-height: 12px;
                color: red;
                text-align: left;
            }

            &_checkbox {

                &_input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    visibility: hidden;
                    z-index: -1;
                    pointer-events: none;
                }

                &_input:checked ~ .authform__main_item_checkbox_label {

                    .authform__main_item_checkbox_label_icon {
                        background-color: var(--orange);
                        border-color: var(--orange);
                        color: #fff;
                    }
                }

                &_label {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    &_icon {
                        width: 25px;
                        height: 25px;
                        border-radius: 5px;
                        border: 1px solid #ccc;
                        margin-right: 10px;
                        transition: all .3s ease-in-out;
                        color: transparent;

                    }

                    &_text {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }
        }
        

    }

    &__action {
        padding: 8px 0;
    }

    &__ex {
        padding: 20px 40px;
        &_link {
            font-weight: 700;
            color: var(--mainBlue);
        }
    }

    &__download {
        padding: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_item {
            width: 48%;
        }
    }
}