.cropDialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
}

.cropDialog__in {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cropDialog__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cropDialog__body {
  position: relative;
  width: 100%;
}

.cropDialog__body .crop-container {
  height: 100%;
}

.cropDialog__body .crop-container .reactEasyCrop_CropAreaGrid {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.cropDialog__controls.active {
  width: 35%;
}

.cropDialog__controls {
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  width: 0px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.cropDialog__controls .ant-tabs {
  height: 100%;
}

.cropDialog__controls .ant-tabs .ant-tabs-ink-bar {
  background-color: #FF9E10;
}

.cropDialog__controls .ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
  font-weight: 600;
}

.cropDialog__controls .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #FF9E10;
}

.cropDialog__controls .ant-tabs .ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: #FF9E10;
}

.cropDialog__controls .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list {
  width: 100%;
}

.cropDialog__controls .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
  width: 100%;
  margin-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cropDialog__controls_body {
  padding: 10px;
}

.cropDialog__controls_body_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: auto;
  padding: 10px;
}

.cropDialog__controls_body_filter_item {
  width: 48%;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin-bottom: 15px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.cropDialog__controls_body_filter_item:hover {
  -webkit-box-shadow: 0 0 8px black;
          box-shadow: 0 0 8px black;
}

.cropDialog__controls_body_filter_item_prev {
  height: 80px;
}

.cropDialog__controls_body_filter_item_prev img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cropDialog__controls_body_filter_item_name {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.cropDialog__controls_body_item {
  margin-bottom: 20px;
}

.cropDialog__controls_body_item_name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.cropDialog__controls_body_item_el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cropDialog__controls_body_item_el .ant-slider {
  width: 100%;
}

.cropDialog__controls_body_item_el_radio > input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: -1;
}

.cropDialog__controls_body_item_el_radio > input:checked ~ .cropDialog__controls_body_item_el_radio_label {
  background-color: black;
}

.cropDialog__controls_body_item_el_radio_label {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.cropDialog__action {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.cropDialog__action_btn {
  border: none;
  position: absolute;
  bottom: 20px;
  z-index: 100;
  border-radius: 20px;
  padding: 9px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cropDialog__action_btn:hover {
  background-color: #000;
}

.cropDialog__action_btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.cropDialog__action_btn_icon {
  font-size: 20px;
  line-height: 100%;
}

.cropDialog__action_btn_text {
  font-size: 16px;
  line-height: 100%;
  white-space: nowrap;
  width: 0;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.cropDialog__action_btn--cancel {
  left: 20px;
}

.cropDialog__action_btn--cancel:hover .cropDialog__action_btn_text {
  width: 62px;
  padding-left: 5px;
}

.cropDialog__action_btn--save {
  right: 20px;
}

.cropDialog__action_btn--save:hover .cropDialog__action_btn_text {
  width: 86px;
  padding-left: 5px;
}
/*# sourceMappingURL=cropDialog.css.map */